.App {
  text-align: center;
}
section {
  height: 100vh;
  background-color: aliceblue;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container {
  width: 600px;
  height: 500px;
  box-shadow: 20px 20px 50px black;
  border-radius: 15px;
  margin: 0 10px;
}
form {
  margin-top: 30px;
}
.inputType {
  width: 150px;
  padding: 5px 25px;
  border-radius: 5px;
}
button {
  padding: 8px 15px;
  border: none;
  outline: none;
  appearance: none;
  cursor: pointer;
  border: oldlace;
  border-radius: 5px;
  margin: 0 0 0 20px;
  transition: 0.3s ease-in-out;
}
button:hover {
  color: #fff;
  background-color: grey;
}
.eachContent {
  margin: 5px 0;
}
nav {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  background-color: gray;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
nav > ul {
  list-style: none;
}
nav > ul > li {
  cursor: pointer;
  color: #fff;
}
nav > div > h2 {
  cursor: pointer;
}
.homePage {
  margin-top: 100px;
}
